@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Paleta

Azul: #155472
Branco: #F7F2EB
Areia: #EEBC69

*/

@media screen and (min-width:600px) and (max-width: 992px) {

    header {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1.2em;
    }

    section#img01 {
        height: 50vh;
        background-attachment: fixed;
        background-position: center center;
    }

    section#img01 > h1 {
        font-size: 2.5em;
    }

    section#img02 {
        height: 40vh;
        background-size: contain;
        background-size: cover;
    }

    section#img02 > h2 {
        font-size: 2.5em;
        width: 300px;
        text-align: center;
    }

    section.ciano > p {
        width: 400px;
        align-self: center;
        text-align: justify;
    }

    p.opc {
        align-self: center;
    }
}

