@charset "UTF-8";

/* Paleta

Azul: #155472
Branco: #F7F2EB
Areia: #EEBC69

*/

header {
    padding: 30px;
    background-color: #155472;

    display: flex;
    justify-content: space-evenly;
}

header > nav > a {
    color: #F7F2EB;
    text-decoration: none;
    margin: 7px;
    font-size: 0.85em;
}