@charset "UTF-8";

/* Paleta

Azul: #155472
Branco: #F7F2EB
Areia: #EEBC69

*/

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    color: black;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.071);
    color: #F7F2EB;
}


header {
    padding: 30px;
    background-color: #155472;
    position: sticky;
    top: 0;
    text-shadow: 1px solid black;
    box-shadow: inset 6px 6px 13px #0000004f;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header > nav > a {
    color: #F7F2EB;
    text-decoration: none;
    margin: 7px;
    font-size: 0.80em;
}

a.botao1:hover {
    background-color: #F7F2EB;
    color: #155472;
    padding: 6px;
    border-radius: 6px;
    transition: .4s;
}

a.botao2 {
    background-color: #EEBC69;
    color: #F7F2EB;
    border-radius: 5px;
    padding: 5px;
}

a.botao2:hover {
    background-color: #F7F2EB;
    color: #EEBC69;
    transition: .4s;
}



section {
    text-shadow: 1px solid black;
    box-shadow: inset 6px 6px 13px #0000004f;

    display: flex;
}




section.ciano{
    background-color: #155472;
    padding: 50px;


    flex-flow: column wrap;
    justify-content: center;
}

section.ciano > h2 {
    align-self: center;
}

section.ciano > p {
    margin: 10px;

}

section.ciano > p.opc {
    align-self: center;
}

p.opc:hover {
    background-color: #F7F2EB;
    color: #155472;
    padding: 6px;
    border-radius: 6px;
    transition: .4s;
}

section.ciano > p#ip1 {
    height: 20vh;
    background-image: url(imagens/imp01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

section.ciano > p#ip2 {
    height: 20vh;
    background-image: url(imagens/imp02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

section.ciano > p#ip3 {
    height: 20vh;
    background-image: url(imagens/imp03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

section.ciano > a#order {
    align-self: center;
    margin: 10px;
    padding: 6px;
    border-radius: 6px;
    background-color: #EEBC69;
    color: #F7F2EB;
    text-decoration: none;
}

section.ciano > a#order:hover {
    background-color: #F7F2EB;
    color: #EEBC69;
    transition: .4s;
}



section.img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;


    box-shadow: inset 6px 6px 13px #0000004f;
}

section.img > h1 {
    align-self: center;
    color: #F7F2EB;
    text-shadow: 5px solid rgb(0, 0, 0);
    font-size: 2em;

}

section#img01 {
    height: 20vh;
    background-size: cover;
    background-image: url(imagens/image001.jpg);
}

section#img02 {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagens/image002.jpg);
}

section#img02 > h2 {
    align-self: center;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    background-color: #155472;
}