@charset "UTF-8";

/* Paleta

Azul: #155472
Branco: #F7F2EB
Areia: #EEBC69

*/

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    color: black;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.071);
    color: #F7F2EB;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #155472;
}

header {

}

/* ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
} */